# Using apply

In [1]:
import numpy as np
import pandas as pd

### Basic Usage

In [2]:
df = pd.DataFrame(np.arange(25).reshape(5,5))
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [5]:
def square(x):
    return x ** 2

### Using apply with a Series

In [6]:
df[0].apply(square)

0      0
1     25
2    100
3    225
4    400
Name: 0, dtype: int64

In [7]:
def power(x,e):
    return x ** e

In [8]:
df[0].apply(power, e=3)

0       0
1     125
2    1000
3    3375
4    8000
Name: 0, dtype: int64

### You can also use built-in functions over the entire DataFrame

In [9]:
df['sum'] = df.apply(sum, axis=1)
df

    0   1   2   3   4  sum
0   0   1   2   3   4   10
1   5   6   7   8   9   35
2  10  11  12  13  14   60
3  15  16  17  18  19   85
4  20  21  22  23  24  110

### Data analysis with apply

In [10]:
import seaborn

In [11]:
titanic = seaborn.load_dataset("titanic")

In [12]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [13]:
def missing(x):
    nulls = pd.isnull(x)
    count = np.sum(nulls)
    return count

In [14]:
titanic.apply(missing)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64