# Sampling DataFrames

In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr

In [3]:
data = pdr.get_data_yahoo(['AMZN', 'GOOG'], '20190101')['Close']

In [4]:
data.head()

Symbols            AMZN         GOOG
Date
2019-01-02  1539.130005  1045.849976
2019-01-03  1500.280029  1016.059998
2019-01-04  1575.390015  1070.709961
2019-01-07  1629.510010  1068.390015
2019-01-08  1656.579956  1076.280029

### Get a random observation

In [5]:
data.sample()

Symbols            AMZN         GOOG
Date
2019-04-11  1844.069946  1204.619995

### Get a random sample

In [8]:
data.sample(n=30, replace=True).sort_values(by='AMZN')

Symbols            AMZN         GOOG
Date
2019-01-29  1593.880005  1060.619995
2019-02-15  1607.949951  1113.650024
2019-01-14  1617.209961  1044.689941
2019-02-04  1633.310059  1132.800049
2019-02-13  1640.000000  1120.160034
2019-01-23  1640.020020  1075.569946
2019-01-11  1640.560059  1057.189941
2019-01-11  1640.560059  1057.189941
2019-01-11  1640.560059  1057.189941
2019-03-11  1670.619995  1175.760010
2019-03-05  1692.430054  1162.030029
2019-03-04  1696.170044  1147.800049
2019-03-04  1696.170044  1147.800049
2019-08-26  1768.869995  1168.890015
2019-08-15  1776.119995  1167.260010
2019-08-06  1787.829956  1169.949951
2019-05-30  1816.319946  1117.949951
2019-08-02  1823.239990  1193.989990
2019-08-08  1832.890015  1204.800049
2019-08-08  1832.890015  1204.800049
2019-04-09  1835.839966  1197.250000
2019-04-08  1849.859985  1203.839966
2019-05-20  1858.969971  1138.849976
2019-06-21  1911.300049  1121.880005
2019-05-08  1917.770020  1166.270020
2019-07-02  1934.310059  1111.250000
2019-04-29  1938.430054  1287.579956
2019-07-08  1952.319946  1116.349976
2019-07-18  1977.900024  1146.329956
2019-07-15  2020.989990  1150.339966

### Using a random number we can generate a stable sample

In [9]:
randomizer = np.random.random(len(data))
data['id'] = randomizer

In [10]:
data.head()

Symbols            AMZN         GOOG        id
Date
2019-01-02  1539.130005  1045.849976  0.764104
2019-01-03  1500.280029  1016.059998  0.232229
2019-01-04  1575.390015  1070.709961  0.740945
2019-01-07  1629.510010  1068.390015  0.102813
2019-01-08  1656.579956  1076.280029  0.645628

In [11]:
sample = data[data.id< .2]

In [12]:
sample.count()

Symbols
AMZN    32
GOOG    32
id      32
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 166 entries, 2019-01-02 to 2019-08-28
Data columns (total 3 columns):
AMZN    166 non-null float64
GOOG    166 non-null float64
id      166 non-null float64
dtypes: float64(3)
memory usage: 5.2 KB