# Appending

In [1]:
import pandas as pd
import pandas_datareader as pdr

### Append is essentially the same as concat, except it's a DataFrame method

In [2]:
aapl = pdr.get_data_yahoo('AAPL', '20190901')
goog = pdr.get_data_yahoo('GOOG', '20190901')

In [3]:
aapl.append(goog)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-03,206.979996,204.220001,206.429993,205.699997,20023000,205.699997
2019-09-04,209.479996,207.320007,208.389999,209.190002,19188100,209.190002
2019-09-05,213.970001,211.509995,212.000000,213.279999,23913700,213.279999
2019-09-06,214.419998,212.509995,214.050003,213.259995,19362300,213.259995
2019-09-09,216.440002,211.070007,214.839996,214.169998,27309400,214.169998
2019-09-10,216.779999,211.710007,213.860001,216.699997,31777900,216.699997
2019-09-11,223.710007,217.729996,218.070007,223.589996,44289600,223.589996
2019-09-12,226.419998,222.860001,224.800003,223.089996,32226700,223.089996
2019-09-13,220.789993,217.020004,220.000000,218.750000,39763300,218.750000
2019-09-16,220.130005,217.559998,217.729996,219.899994,21158100,219.899994
2019-09-17,220.820007,219.119995,219.960007,220.699997,18318700,220.699997
2019-09-18,222.850006,219.440002,221.059998,222.770004,25340000,222.770004
2019-09-19,223.759995,220.369995,222.009995,220.960007,22060600,220.960007
2019-09-20,222.559998,217.470001,221.380005,217.729996,55413100,217.729996
2019-09-23,219.479996,217.660004,218.949997,218.807907,8847986,218.807907
2019-09-03,1186.890015,1163.199951,1177.030029,1168.390015,1479900,1168.390015
2019-09-04,1183.479980,1171.000000,1176.709961,1181.410034,1068900,1181.410034
2019-09-05,1213.040039,1191.530029,1191.530029,1211.380005,1408100,1211.380005
2019-09-06,1212.015015,1202.521973,1208.130005,1204.930054,1072100,1204.930054
2019-09-09,1220.000000,1192.619995,1204.000000,1204.410034,1471900,1204.410034
2019-09-10,1210.000000,1194.579956,1195.150024,1206.000000,1260100,1206.000000
2019-09-11,1222.599976,1202.199951,1203.410034,1220.170044,1307000,1220.170044
2019-09-12,1241.859985,1223.020020,1224.300049,1234.250000,1725900,1234.250000
2019-09-13,1240.880005,1227.010010,1231.349976,1239.560059,1301400,1239.560059
2019-09-16,1239.560059,1225.609985,1229.520020,1231.300049,1053300,1231.300049
2019-09-17,1235.000000,1223.689941,1230.400024,1229.150024,955100,1229.150024
2019-09-18,1235.609985,1216.530029,1227.510010,1232.410034,1135100,1232.410034
2019-09-19,1244.439941,1232.020020,1232.060059,1238.709961,996000,1238.709961
2019-09-20,1243.319946,1223.079956,1233.119995,1229.930054,2270000,1229.930054
2019-09-23,1235.400024,1224.170044,1226.000000,1235.359985,373290,1235.359985

### And you can't choose to append columns

In [4]:
aapl.append(goog, axis=1)

TypeError: append() got an unexpected keyword argument 'axis'

### You can also use append when column names differ

In [5]:
goog.drop(columns=['Adj Close'], inplace=True)

In [7]:
aapl.append(goog, sort=True)

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2019-09-03,205.699997,205.699997,206.979996,204.220001,206.429993,20023000
2019-09-04,209.190002,209.190002,209.479996,207.320007,208.389999,19188100
2019-09-05,213.279999,213.279999,213.970001,211.509995,212.000000,23913700
2019-09-06,213.259995,213.259995,214.419998,212.509995,214.050003,19362300
2019-09-09,214.169998,214.169998,216.440002,211.070007,214.839996,27309400
2019-09-10,216.699997,216.699997,216.779999,211.710007,213.860001,31777900
2019-09-11,223.589996,223.589996,223.710007,217.729996,218.070007,44289600
2019-09-12,223.089996,223.089996,226.419998,222.860001,224.800003,32226700
2019-09-13,218.750000,218.750000,220.789993,217.020004,220.000000,39763300
2019-09-16,219.899994,219.899994,220.130005,217.559998,217.729996,21158100
2019-09-17,220.699997,220.699997,220.820007,219.119995,219.960007,18318700
2019-09-18,222.770004,222.770004,222.850006,219.440002,221.059998,25340000
2019-09-19,220.960007,220.960007,223.759995,220.369995,222.009995,22060600
2019-09-20,217.729996,217.729996,222.559998,217.470001,221.380005,55413100
2019-09-23,218.807907,218.807907,219.479996,217.660004,218.949997,8847986
2019-09-03,NaN,1168.390015,1186.890015,1163.199951,1177.030029,1479900
2019-09-04,NaN,1181.410034,1183.479980,1171.000000,1176.709961,1068900
2019-09-05,NaN,1211.380005,1213.040039,1191.530029,1191.530029,1408100
2019-09-06,NaN,1204.930054,1212.015015,1202.521973,1208.130005,1072100
2019-09-09,NaN,1204.410034,1220.000000,1192.619995,1204.000000,1471900
2019-09-10,NaN,1206.000000,1210.000000,1194.579956,1195.150024,1260100
2019-09-11,NaN,1220.170044,1222.599976,1202.199951,1203.410034,1307000
2019-09-12,NaN,1234.250000,1241.859985,1223.020020,1224.300049,1725900
2019-09-13,NaN,1239.560059,1240.880005,1227.010010,1231.349976,1301400
2019-09-16,NaN,1231.300049,1239.560059,1225.609985,1229.520020,1053300
2019-09-17,NaN,1229.150024,1235.000000,1223.689941,1230.400024,955100
2019-09-18,NaN,1232.410034,1235.609985,1216.530029,1227.510010,1135100
2019-09-19,NaN,1238.709961,1244.439941,1232.020020,1232.060059,996000
2019-09-20,NaN,1229.930054,1243.319946,1223.079956,1233.119995,2270000
2019-09-23,NaN,1235.359985,1235.400024,1224.170044,1226.000000,373290

### Also works in the other direction

In [8]:
goog.append(aapl, sort=False)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-03,1186.890015,1163.199951,1177.030029,1168.390015,1479900,NaN
2019-09-04,1183.479980,1171.000000,1176.709961,1181.410034,1068900,NaN
2019-09-05,1213.040039,1191.530029,1191.530029,1211.380005,1408100,NaN
2019-09-06,1212.015015,1202.521973,1208.130005,1204.930054,1072100,NaN
2019-09-09,1220.000000,1192.619995,1204.000000,1204.410034,1471900,NaN
2019-09-10,1210.000000,1194.579956,1195.150024,1206.000000,1260100,NaN
2019-09-11,1222.599976,1202.199951,1203.410034,1220.170044,1307000,NaN
2019-09-12,1241.859985,1223.020020,1224.300049,1234.250000,1725900,NaN
2019-09-13,1240.880005,1227.010010,1231.349976,1239.560059,1301400,NaN
2019-09-16,1239.560059,1225.609985,1229.520020,1231.300049,1053300,NaN
2019-09-17,1235.000000,1223.689941,1230.400024,1229.150024,955100,NaN
2019-09-18,1235.609985,1216.530029,1227.510010,1232.410034,1135100,NaN
2019-09-19,1244.439941,1232.020020,1232.060059,1238.709961,996000,NaN
2019-09-20,1243.319946,1223.079956,1233.119995,1229.930054,2270000,NaN
2019-09-23,1235.400024,1224.170044,1226.000000,1235.359985,373290,NaN
2019-09-03,206.979996,204.220001,206.429993,205.699997,20023000,205.699997
2019-09-04,209.479996,207.320007,208.389999,209.190002,19188100,209.190002
2019-09-05,213.970001,211.509995,212.000000,213.279999,23913700,213.279999
2019-09-06,214.419998,212.509995,214.050003,213.259995,19362300,213.259995
2019-09-09,216.440002,211.070007,214.839996,214.169998,27309400,214.169998
2019-09-10,216.779999,211.710007,213.860001,216.699997,31777900,216.699997
2019-09-11,223.710007,217.729996,218.070007,223.589996,44289600,223.589996
2019-09-12,226.419998,222.860001,224.800003,223.089996,32226700,223.089996
2019-09-13,220.789993,217.020004,220.000000,218.750000,39763300,218.750000
2019-09-16,220.130005,217.559998,217.729996,219.899994,21158100,219.899994
2019-09-17,220.820007,219.119995,219.960007,220.699997,18318700,220.699997
2019-09-18,222.850006,219.440002,221.059998,222.770004,25340000,222.770004
2019-09-19,223.759995,220.369995,222.009995,220.960007,22060600,220.960007
2019-09-20,222.559998,217.470001,221.380005,217.729996,55413100,217.729996
2019-09-23,219.479996,217.660004,218.949997,218.807907,8847986,218.807907

### Use verify integrity to detect duplicate index values

In [10]:
aapl.append(goog, verify_integrity=True, sort=False)

ValueError: Indexes have overlapping values: DatetimeIndex(['2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06',
               '2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12',
               '2019-09-13', '2019-09-16', '2019-09-17', '2019-09-18',
               '2019-09-19', '2019-09-20', '2019-09-23'],
              dtype='datetime64[ns]', name='Date', freq=None)