# Merge

In [1]:
import pandas as pd

### Greater Functionality than join -- more like a true SQL query

In [2]:
orders = pd.DataFrame({'Order':[1,2,3],  'Customer':['Moe','Larry', 'Curly'],
                       'Date': pd.date_range('20190901', periods=3)})
customers = pd.DataFrame({'Customer': ['Curly','Joe', 'Larry', 'Moe', 'Shemp'],
                          'email': ['curly@stooges.com',
                                    'joe@stooges.com',
                                    'larry@stooges.com',
                                    'moe@stooges.com',
                                    'shemp@stooges.com']})

### One-to-one -- join one column to another (no duplicate values)

In [3]:
orders.merge(customers, on='Customer')

   Order Customer       Date              email
0      1      Moe 2019-09-01    moe@stooges.com
1      2    Larry 2019-09-02  larry@stooges.com
2      3    Curly 2019-09-03  curly@stooges.com

### One-to-Many

In [4]:
orders = pd.DataFrame({'Order':[1,2,3,4,5],  'Customer':['Moe','Larry', 'Curly', 'Curly', 'Shemp'],
                       'Date': pd.date_range('20190901', periods=5)})

In [5]:
orders.merge(customers, right_on='Customer', left_on='Customer')

   Order Customer       Date              email
0      1      Moe 2019-09-01    moe@stooges.com
1      2    Larry 2019-09-02  larry@stooges.com
2      3    Curly 2019-09-03  curly@stooges.com
3      4    Curly 2019-09-04  curly@stooges.com
4      5    Shemp 2019-09-05  shemp@stooges.com

### Many-to-many

In [6]:
inventory = pd.DataFrame({'Item':['01','02','03'],'Desc':['Hat','Coat', 'Gloves'],'Price':[10,20,8] })
items = pd.DataFrame({'Order': [1,2,3,4,5], 'Item':['01','03', '02','01','02']})

In [7]:
order_items = orders.merge(items, left_on='Order', right_on='Order')
order_items

   Order Customer       Date Item
0      1      Moe 2019-09-01   01
1      2    Larry 2019-09-02   03
2      3    Curly 2019-09-03   02
3      4    Curly 2019-09-04   01
4      5    Shemp 2019-09-05   02

In [8]:
order_items.merge(items, left_on='Order', right_on='Order')

   Order Customer       Date Item_x Item_y
0      1      Moe 2019-09-01     01     01
1      2    Larry 2019-09-02     03     03
2      3    Curly 2019-09-03     02     02
3      4    Curly 2019-09-04     01     01
4      5    Shemp 2019-09-05     02     02