# Sharing Data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.to_json('data.json')

In [4]:
new_data = pd.read_json('data.json')

In [5]:
new_data.head()

   OrderDate   Region     Rep    Item  Units  Unit Cost       Total
0     1/6/18     East   Jones  Pencil     95       1.99     189.05
1    1/23/18  Central  Kivell  Binder     50      19.99     999.50
10   6/25/18  Central  Morgan  Pencil     90       4.99     449.10
11   7/12/18     East  Howard  Binder     29       1.99      57.71
12   7/29/18     East  Parent  Binder     81      19.99   1,619.19

### Make data accessible on clipboard

In [6]:
new_data.to_clipboard() # paste into Excel

### Send data to HTML file

In [7]:
new_data.to_html('data.html')

### Send to Excel file

In [8]:
new_data.to_excel('data.xlsx') # slightly different than clipboard

### Other common data types
* feather --> compatible with R feather package
* hdf --> hierarchical data format (used in large data applications)
* gbq --> Google big query compatible with Google big table
* sql --> can write directly to a Db provided a connection via sqlalchemy
or sqlite3